<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /https://dpmptsp.wonosobokab.go.id/
RewriteRule ^index\.php - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php/login [L]
</IfModule>